.BG {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .CardContainer {
    animation: slideInFromTop 0.8s ease-in-out;
  }
  
  .CardContainer > .MuiCard-root {
    margin-bottom: 1.5rem;
  }
  
  .CardContainer > .MuiCard-root:last-child {
    margin-bottom: 0;
  }
  
  .CardContainer .MuiCard-root {
    width: 100%;
  }
  
  .CardContainer .MuiCard-root .MuiCardMedia-root {
    margin: 0 auto;
  }
  
  .CardContainer .MuiCard-root .MuiCardContent-root {
    text-align: center;
  }
  
  .CardContainer .MuiCard-root .MuiTypography-root {
    color: #444;
  }
  
  .CardContainer .MuiCard-root .MuiCardActions-root {
    display: flex;
    justify-content: center;
  }
  
  .CardContainer .MuiCard-root .MuiButton-root {
    border-radius: 20px;
    background-color: #e32f45;
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }
  
  .CardContainer .MuiCard-root .MuiButton-root:hover {
    background-color: #c61c33;
  }
  