.BG {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .BG {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .CardContainer {
    animation: slideInFromTop 0.8s ease-in-out; /* Apply animation to the container */
  }
  
  /* Add a delay to each Card to create staggered entrance effect */
  .CardContainer > .MuiCard-root:nth-child(odd) {
    animation-delay: 0.2s;
  }
  
  .CardContainer > .MuiCard-root:nth-child(even) {
    animation-delay: 0.4s;
  }
  