.BG {
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .CardContainer .MuiCard-root .MuiTypography-root {
    color: #444;
  }
  
  .CardContainer .MuiCard-root .MuiButton-root {
    border-radius: 20px;
    background-color: #e32f45;
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }

.custom-button {
    color: white; /* Set the desired text color */
  }
  
  .custom-button:hover {
    color: white; /* Set the desired text color on hover, to maintain the same color as the normal state */
    /* Add any other custom styles for the button when hovering, if needed */
  }
  

  
