/* Add this CSS code to your existing CSS file */
.request-card {
    margin-bottom: 2%;
    background-color: #f7f7f7;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Increased shadow intensity */
    transition: transform 0.2s ease-in-out;
    border-radius: 20px;
  }
  
  .request-card:hover {
    transform: translateY(-5px);
  }
  