.content-button {
    width: 100%;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: white;
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5%;
}

.venue{
    width:100%;
    padding:1%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 2%;
}

.delete-btn{
    left: 85%;
}

.moduleHead{
    margin-top: 2%;
    margin-bottom:4%;
}

.post-button{
    width: 10rem;
    height: 1.9rem;
    border-radius: 0.8rem;
    background-color: #e32f45;
    color: white;
    margin-top:1%;
    margin-left:37%;
}

.map{
    width: 100%;
    height: 50vh;
}



#demo-customized-button{
    background-color: #e32f45;
    float: right;
}

.announcement{
    width: 100%;
    height:125px;
    border-radius: 1rem;
    padding:1%;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5%;
}

.Title{
    float:left;
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1%;
}

.Description{
    float:left;
    width: 80%;
    text-align: center;
    font-size: medium;
}

.subject{
    float:right 5%;
    text-align: center;
    font-size: small;
    color: #464646;
}
