.content-button {
    width: 55rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: white;
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5%;
}

.moduleHead{
    margin-top: 2%;
    margin-bottom:5%;
}

.post-button{
    width: 10rem;
    height: 1.7rem;
    border-radius: 0.8rem;
    background-color: #e32f45;
    color: white;
    margin-left:37%;
}
