.vertical-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-bottom: 15px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    color: #e32f45;
    border-bottom: 1px solid #e32f45;
}
