@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

*:focus {
  outline: none;
}