.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #e32f45;
}

h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}

.multiText{
    color: #e32f45;
    text-transform: capitalize;
}
