.container {
  display: flex;
}

.navbar {
  width: 20%;
  height: 100vh;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lecturer{
  padding-top: 15px;
  display: flex;
  font-size: medium;
  font-weight: bold;
  color: #464646;
}

.buttons {
  padding-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  margin-bottom: 40px;
  font-size: large;
  border: 0ch;
  background-color: white;
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 40px;
}

.logout-button {
  width: 227px;
  height: 40px;
  border-radius: 20px;
  background-color: #e32f45;
  color: white;
}

.content {
  flex: 1;
  background-color: #e8e8e8;
  justify-content: center;
  align-items: center;
}

.content-button {
  width: 95%;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 25px;
}

.subjects {
  padding-top: 25px;
  display: fixed;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.lechead{
  margin-top: 30px;
  margin-left: 60px;
}

.dropdown {
  width: 97%;
  height: 80px;
  border-radius: 40px;
  
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 100%;
  height: 80px;
  border-radius:10px;
  
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  
}

.dropdown-menu {
  position: flex;
  width: 95%;
  border-radius:10px;
  background-color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  padding-left:5%;
  
}

.dropdown-menu form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width:90%;
}

.dropdown-title {
  margin-bottom: 15px;
  width:100%;
}

.dropdown-body {
  margin-bottom: 15px;
  width:100%;
}

.dropdown-menu label {
  font-weight:100;
}

.post-button{
  width: 180px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #e32f45;
  color: white;
}